@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">Respostas:</h1>
    <p><b>Tarefa 1: </b>@ViewBag.TaskOne</p>

    <p><b>Tarefa 2: </b>@ViewBag.TaskTwo</p>

    <p><b>Tarefa 3:</b> @ViewBag.TaskThree </p>

</div>